.pict { background-image: url('../images/icons.png');display:inline-block;}
.pict-black { background-image: url('../images/icons.png');display:inline-block;}
.pict:hover { background-image: url('../images/icons-hover.png');display:inline-block;}
.pict-black:hover { background-image: url('../images/icons-hover-black.png');display:inline-block;}
.sprite-ID{ background-position: 0 0; width: 20px; height: 20px; } 
.sprite-Scissors{ background-position: 0 -52px; width: 20px; height: 20px; } 
.sprite-add-item{ background-position: 0 -104px; width: 20px; height: 20px; } 
.sprite-addressbook{ background-position: 0 -156px; width: 20px; height: 20px; } 
.sprite-agent{ background-position: 0 -208px; width: 20px; height: 20px; } 
.sprite-apple{ background-position: 0 -260px; width: 20px; height: 20px; } 
.sprite-arrow-round{ background-position: 0 -312px; width: 20px; height: 20px; } 
.sprite-badge{ background-position: 0 -364px; width: 20px; height: 20px; } 
.sprite-bar-chart-02{ background-position: 0 -416px; width: 20px; height: 20px; } 
.sprite-bar-chart{ background-position: 0 -468px; width: 20px; height: 20px; } 
.sprite-battery-full{ background-position: 0 -520px; width: 20px; height: 20px; } 
.sprite-bird{ background-position: 0 -572px; width: 20px; height: 20px; } 
.sprite-boat{ background-position: 0 -624px; width: 20px; height: 20px; } 
.sprite-bookmark{ background-position: 0 -676px; width: 20px; height: 20px; } 
.sprite-briefcase{ background-position: 0 -728px; width: 20px; height: 20px; } 
.sprite-calculator{ background-position: 0 -780px; width: 20px; height: 20px; } 
.sprite-calendar{ background-position: 0 -832px; width: 20px; height: 20px; } 
.sprite-cassette{ background-position: 0 -884px; width: 20px; height: 20px; } 
.sprite-chain{ background-position: 0 -936px; width: 20px; height: 20px; } 
.sprite-chat{ background-position: 0 -988px; width: 20px; height: 20px; } 
.sprite-chat-02{ background-position: 0 -1040px; width: 20px; height: 20px; } 
.sprite-cloud-filled{ background-position: 0 -1092px; width: 20px; height: 20px; } 
.sprite-cloud-outline{ background-position: 0 -1144px; width: 20px; height: 20px; } 
.sprite-computer{ background-position: 0 -1196px; width: 20px; height: 20px; } 
.sprite-configuration{ background-position: 0 -1248px; width: 20px; height: 20px; } 
.sprite-configuration02{ background-position: 0 -1300px; width: 20px; height: 20px; } 
.sprite-connected{ background-position: 0 -1352px; width: 20px; height: 20px; } 
.sprite-connections{ background-position: 0 -1404px; width: 20px; height: 20px; } 
.sprite-container{ background-position: 0 -1456px; width: 20px; height: 20px; } 
.sprite-copy-item{ background-position: 0 -1508px; width: 20px; height: 20px; } 
.sprite-database{ background-position: 0 -1560px; width: 20px; height: 20px; } 
.sprite-delete-item{ background-position: 0 -1612px; width: 20px; height: 20px; } 
.sprite-disc{ background-position: 0 -1664px; width: 20px; height: 20px; } 
.sprite-dollar{ background-position: 0 -1716px; width: 20px; height: 20px; } 
.sprite-download{ background-position: 0 -1768px; width: 20px; height: 20px; } 
.sprite-edit{ background-position: 0 -1820px; width: 20px; height: 20px; } 
.sprite-email{ background-position: 0 -1872px; width: 20px; height: 20px; } 
.sprite-fan{ background-position: 0 -1924px; width: 20px; height: 20px; } 
.sprite-fancy-globe{ background-position: -52px 0; width: 20px; height: 20px; } 
.sprite-female-user{ background-position: -52px -52px; width: 20px; height: 20px; } 
.sprite-fire{ background-position: -52px -104px; width: 20px; height: 20px; } 
.sprite-first-aid{ background-position: -52px -156px; width: 20px; height: 20px; } 
.sprite-flag{ background-position: -52px -208px; width: 20px; height: 20px; } 
.sprite-flower{ background-position: -52px -260px; width: 20px; height: 20px; } 
.sprite-follow{ background-position: -52px -312px; width: 20px; height: 20px; } 
.sprite-full-screen{ background-position: -52px -364px; width: 20px; height: 20px; } 
.sprite-glasses{ background-position: -52px -416px; width: 20px; height: 20px; } 
.sprite-globe{ background-position: -52px -468px; width: 20px; height: 20px; } 
.sprite-happy-face{ background-position: -52px -520px; width: 20px; height: 20px; } 
.sprite-headphone{ background-position: -52px -572px; width: 20px; height: 20px; } 
.sprite-heart{ background-position: -52px -624px; width: 20px; height: 20px; } 
.sprite-home{ background-position: -52px -676px; width: 20px; height: 20px; } 
.sprite-ipod{ background-position: -52px -728px; width: 20px; height: 20px; } 
.sprite-lab{ background-position: -52px -780px; width: 20px; height: 20px; } 
.sprite-lady{ background-position: -52px -832px; width: 20px; height: 20px; } 
.sprite-lamp{ background-position: -52px -884px; width: 20px; height: 20px; } 
.sprite-leaves{ background-position: -52px -936px; width: 20px; height: 20px; } 
.sprite-light{ background-position: -52px -988px; width: 20px; height: 20px; } 
.sprite-line-globe{ background-position: -52px -1040px; width: 20px; height: 20px; } 
.sprite-lock{ background-position: -52px -1092px; width: 20px; height: 20px; } 
.sprite-lookup{ background-position: -52px -1144px; width: 20px; height: 20px; } 
.sprite-male-user{ background-position: -52px -1196px; width: 20px; height: 20px; } 
.sprite-microphone{ background-position: -52px -1248px; width: 20px; height: 20px; } 
.sprite-mobile{ background-position: -52px -1300px; width: 20px; height: 20px; } 
.sprite-mobile2{ background-position: -52px -1352px; width: 20px; height: 20px; } 
.sprite-mouse{ background-position: -52px -1404px; width: 20px; height: 20px; } 
.sprite-multi-agents{ background-position: -52px -1456px; width: 20px; height: 20px; } 
.sprite-music-node{ background-position: -52px -1508px; width: 20px; height: 20px; } 
.sprite-network-pc{ background-position: -52px -1560px; width: 20px; height: 20px; } 
.sprite-network{ background-position: -52px -1612px; width: 20px; height: 20px; } 
.sprite-next-item{ background-position: -52px -1664px; width: 20px; height: 20px; } 
.sprite-phone{ background-position: -52px -1716px; width: 20px; height: 20px; } 
.sprite-pie-chart{ background-position: -52px -1768px; width: 20px; height: 20px; } 
.sprite-pin{ background-position: -52px -1820px; width: 20px; height: 20px; } 
.sprite-plane{ background-position: -52px -1872px; width: 20px; height: 20px; } 
.sprite-print{ background-position: -52px -1924px; width: 20px; height: 20px; } 
.sprite-processing-02{ background-position: -104px 0; width: 20px; height: 20px; } 
.sprite-processing{ background-position: -104px -52px; width: 20px; height: 20px; } 
.sprite-push-pin{ background-position: -104px -104px; width: 20px; height: 20px; } 
.sprite-recycle-empty{ background-position: -104px -156px; width: 20px; height: 20px; } 
.sprite-recycle-full{ background-position: -104px -208px; width: 20px; height: 20px; } 
.sprite-reload{ background-position: -104px -260px; width: 20px; height: 20px; } 
.sprite-rss{ background-position: -104px -312px; width: 20px; height: 20px; } 
.sprite-satellite{ background-position: -104px -364px; width: 20px; height: 20px; } 
.sprite-save{ background-position: -104px -416px; width: 20px; height: 20px; } 
.sprite-scale{ background-position: -104px -468px; width: 20px; height: 20px; } 
.sprite-screen{ background-position: -104px -520px; width: 20px; height: 20px; } 
.sprite-search{ background-position: -104px -572px; width: 20px; height: 20px; } 
.sprite-server{ background-position: -104px -624px; width: 20px; height: 20px; } 
.sprite-shield{ background-position: -104px -676px; width: 20px; height: 20px; } 
.sprite-shut-down{ background-position: -104px -728px; width: 20px; height: 20px; } 
.sprite-star{ background-position: -104px -780px; width: 20px; height: 20px; } 
.sprite-tag{ background-position: -104px -832px; width: 20px; height: 20px; } 
.sprite-tap{ background-position: -104px -884px; width: 20px; height: 20px; } 
.sprite-tree{ background-position: -104px -936px; width: 20px; height: 20px; } 
.sprite-umbrella{ background-position: -104px -988px; width: 20px; height: 20px; } 
.sprite-unlock{ background-position: -104px -1040px; width: 20px; height: 20px; } 
.sprite-usb{ background-position: -104px -1092px; width: 20px; height: 20px; } 
.sprite-van{ background-position: -104px -1144px; width: 20px; height: 20px; } 
.sprite-wifi{ background-position: -104px -1196px; width: 20px; height: 20px; } 
.sprite-world{ background-position: -104px -1248px; width: 20px; height: 20px; } 

